<ul>
<% @project.entries.each do |e|%>
	<li><%= @project.name %>
		<ul>
		<li><%= e.hours %> hours</li>
		<li><%= e.minutes %> minutes</li>
		<li><%= e.date %></li>
		</ul>
	</li>
	<%= link_to('Delete', project_entry_path(@project, e), :method => :delete, :confirm =>'Are you sure?') %>
	<%= link_to('Edit', edit_project_entry_path(@project, e.id)) %>
<% end %>
</ul>

<%= button_to('Create New Entry', new_project_entry_path(@project.id, 'entries'), :method => :get) %>