<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header><h1><%= yield :hea %></h1></header>
	<article><p><%= yield :article %></p></article>
	<footer></footer>
</body>
</html>